<div class="grade-container">
    <div *ngFor="let grade of grades" class="grade-card" (click)="selectGrade(grade)">
        <div class="grade-icon-container">
            <svg class="progress-ring" viewBox="0 0 100 100">
                <circle class="progress-ring__background-track" stroke="#d1d5db" stroke-width="8" fill="transparent"
                    r="42" cx="50" cy="50" />
                <circle class="progress-ring__circle" stroke="white" stroke-width="8" fill="transparent" r="42" cx="50"
                    cy="50" [style.stroke-dasharray]="263.89"
                    [style.stroke-dashoffset]="263.89 - (getProgress(grade) / 100) * 263.89" />
            </svg>
            <div class="inner-circle">
                <i class="fa-solid grade-main-icon" [ngClass]="getIcon(grade['grade-name'])"></i>
                <span class="inner-percentage">{{ getProgress(grade) }}%</span>
            </div>
        </div>
        <div class="grade-info">
            <h3 class="grade-title">{{ grade['grade-name'] }}</h3>
        </div>
        <div class="grade-arrow">
            <i class="fa-solid fa-angles-right"></i>
        </div>
    </div>
</div>